<header>
  <div class="navbar bg-base-300 rounded-box">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">
        <span class="text-xl font-bold">Codebook Admin</span>
      </a>
    </div>
    <div class="flex-none gap-2">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
        </div>
        <ul tabindex="0" m class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li>
            <a href="/products" class="justify-between">
              All ebooks
            </a>
          </li>
          <li><a href="/register">Register</a></li>
          <li><a (click)="logOut()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>