<div class="container">
    <div class="card bg-base-100 mx-auto bg-neutral shadow-xl w-96">
        <h3 class="card-title mx-auto py-3">Création ebook</h3>
        <div class="card-body items-center">
            <input type="text" placeholder="Entrez le titre de votre article"
                class="input input-bordered input-md w-full max-w-xs" />

            <textarea placeholder="Phrase d'accroche de votre produit"
                class="textarea textarea-bordered textarea-lg w-full max-w-xs"></textarea>
            <textarea placeholder="Description de votre produit"
                class="textarea textarea-bordered textarea-lg w-full max-w-xs"></textarea>
            <input type="number" placeholder="Entrez le prix" class="input input-bordered input-md w-full max-w-xs" />
            <select class="select select-bordered w-full max-w-xs">
                <option disabled selected>En Stock</option>
                <option>Oui</option>
                <option>Non</option>
            </select>
            <input type="file" class="file-input file-input-bordered file-input-primary w-full max-w-xs" />

            <button type="submit" class="btn btn-primary btn-outline">Ajouter ebook</button>
        </div>
    </div>
</div>